body {
   background-image: url("images/IMG_4672.JPG");
    font-family: "Quicksand", sans-serif;
   
}

main {
    color: #0f350b;
    margin: 30px auto;
    max-inline-size: 50%;
    text-align: center;
    padding: 5px 5px 25px 5px;
    border-radius: 5px;
    border: 1px solid rgba(109, 107, 107, 0.334);
}

main h1 {
    font-size: 30px;
}

main h2 {
    font-size: 20px;
}

main h4 {
    font-size: 10px;
}



.headshot{
    border: 1px solid rgba(109, 107, 107, 0.334);
    border-radius: 24px;
    opacity: .85;
    margin: 30px auto;
 
}

.logo {
    opacity: .85;
    margin: -150px auto;
}

.bio {
    display: block;
}

.bio-container {
    color: #78170D;
    text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
    margin: 10px auto;
    max-inline-size: 80%;
    text-align: center;
    padding: 20px;
    border-radius:60px;
    box-shadow:
          inset 0 -3em 3em rgba(6, 38, 6, 0.3),
          0 0 0 1px rgba(241, 157, 157, 0.5),
          0.3em 0.3em 1em rgb(200 0 0 / 50%);
}

.bio-header h3{
    font-size: 60px;
    color: #78170D;
    text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
    margin: 80px 220px 40px;
    max-inline-size: 60%;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow:
          inset 0 -3em 3em rgba(6, 38, 6, 0.3),
          0 0 0 1px rgba(241, 157, 157, 0.5),
          0.3em 0.3em 1em rgb(200 0 0 / 50%);
}

.bio-container p {
    font-size: 18px;
    font-weight: 600;
    color: #0f350b;
    text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
    margin: 5px auto;
    max-inline-size: 80%;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow:
          inset 0 -3em 3em rgba(6, 38, 6, 0.3),
          0 0 0 1px rgba(241, 157, 157, 0.5),
          0.3em 0.3em 1em rgb(200 0 0 / 50%);
}


.My-Projects {
    margin: 10px auto;
    max-inline-size: 80%;
}

.My-Projects a {
    color: #000000;
}


.My-Projects h3 {
    font-size: 60px;
    color: #78170D;
    text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
    margin: 80px 220px 10px;
    max-inline-size: 80%;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow:
          inset 0 -3em 3em rgba(6, 38, 6, 0.3),
          0 0 0 1px rgba(241, 157, 157, 0.5),
          0.3em 0.3em 1em rgb(200 0 0 / 50%);

}

.My-Projects img {
    border-radius: 20px;
}


.dictionary {
    font-size: 20px;
    font-weight: 900;
    color: #0f350b;
    text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
    margin: 20px;
    max-inline-size: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow:
          inset 0 -3em 3em rgba(6, 38, 6, 0.3),
          0 0 0 1px rgba(241, 157, 157, 0.5),
          0.3em 0.3em 1em rgb(200 0 0 / 50%);
}

.weather {
    font-size: 20px;
    font-weight: 900;
    color: #0f350b;
    text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
    margin: 20px;
    max-inline-size: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow:
          inset 0 -3em 3em rgba(6, 38, 6, 0.3),
          0 0 0 1px rgba(241, 157, 157, 0.5),
          0.3em 0.3em 1em rgb(200 0 0 / 50%);
}

.travel {
    font-size: 20px;
    font-weight: 900;
    color: #0f350b;
      
        text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
        margin: 20px;
        max-inline-size: 100%;
        text-align: center;
        padding: 20px;
        border-radius: 60px;
        box-shadow:
              inset 0 -3em 3em rgba(6, 38, 6, 0.3),
              0 0 0 1px rgba(241, 157, 157, 0.5),
              0.3em 0.3em 1em rgb(200 0 0 / 50%);
}

.clock {
    font-size: 20px;
    font-weight: 900;
    color: #0f350b;
    text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
    margin: 20px;
    max-inline-size: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow:
          inset 0 -3em 3em rgba(6, 38, 6, 0.3),
          0 0 0 1px rgba(241, 157, 157, 0.5),
          0.3em 0.3em 1em rgb(200 0 0 / 50%);
}

.poem {
    font-size: 20px;
    font-weight: 900;
    color: #0f350b;
    text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
    margin: 20px;
    max-inline-size: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow:
          inset 0 -3em 3em rgba(6, 38, 6, 0.3),
          0 0 0 1px rgba(241, 157, 157, 0.5),
          0.3em 0.3em 1em rgb(200 0 0 / 50%);
}

.contact {
    color: #0f350b;
    text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
    margin: 90px auto;
    max-inline-size: 80%;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow:
          inset 0 -3em 3em rgba(6, 38, 6, 0.3),
          0 0 0 1px rgba(241, 157, 157, 0.5),
          0.3em 0.3em 1em rgb(200 0 0 / 50%);
}

.contact h1 {
    font-size: 60px;
}

.contact h2 {
    font-size: 40px;
}

.contact a{
    color: #0f350b;
}

.icons {
    font-size: 40px;
}

.icons a{
    color:  rgb(16, 43, 11);
}

.nav-links {
   color: #0f350b;
    margin: 30px auto;
    max-inline-size: 50%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(109, 107, 107, 0.334);
}

.nav-links a {
    color: #0f350b;
    text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
}

footer {
    margin: 10px auto;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 20px;
}

footer a {
    color:#78170D;
}


@media (max-width: 900px) {
    .headshot2{
        max-inline-size: 250px;
        max-block-size: 250px;
    }
}

@media (max-width: 900px) {
    .logo {
        display: none;
    }
}

@media (max-width: 900px) {
    main h1, h2, h4 {
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    .nav-links {
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .bio-header h3{
        margin: 0 auto;        
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    .bio-container p {
        font-size: 20px;
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    .My-Projects h3 {
        margin: 0 auto;
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    .contact h1 {
        font-size: 40px;
    }
}

@media (max-width: 900px) {
    .contact h2 {
        font-size: 18px;
    }
}