body {
    font-family: "Quicksand", sans-serif;
    background: url(images/background.png) no-repeat center center / cover fixed;
    font-family: "Audiowide", sans-serif;
}

.nav-links {
    text-align: end;
     word-spacing: 20px;
     margin-block-start: 5px;
}

.nav-links a {
    color: rgb(0, 0, 0, 0.5);
    font-size: 20px;
}

.nav-links a:hover {
   color: rgb(15, 53, 11);
    text-decoration: underline;
}

main {
    color: rgb(0, 0, 0, 0.7);
    text-align: start;
}

main h1 {
    margin-block-start: 240px;
    font-size: 110px;
    text-align: center;
    letter-spacing: 20px;
}

main h2 {
    font-size: 40px;
    text-align: center;
     word-spacing: 10px;
}

main h3 {
    font-size: 25px;
    text-align: center;
     word-spacing: 10px;
}


.logo {
    opacity: .85;
    margin: -150px auto;
}

.Portfolio h1{
    font-size: 50px;
    letter-spacing: 2px; 
    
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  block-size: 330px; 
  text-align: center;
  color: rgb(0, 0, 0, 0.7);
  border-radius: 12px;
  padding: 8px;
  margin: 20px 8px 40px 10px;
  box-shadow: rgb(0, 0, 0,);
  background: rgb(193, 95, 29, .4);
}

.project-card img {
  inline-size: 100%;
  border-radius: 12px;
}

.project-card h2 {
  font-size: 19px;
  margin: 12px 0 6px; 
  letter-spacing: 2px;  
}

.project-card p {
  margin: 5px 2px 5px 2px;
    color: rgb(0, 0, 0, 0.7);
   font-size: 13px;
}

.project-card:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transform: scale(1.3);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.project-card:hover h2{
     color: rgb(15, 53, 11);
}

.project-card:hover p {
  color: rgb(15, 53, 11);
  font-size: 12px;
}

.project-card,
.project-card:hover,
.project-card:focus,
.project-card:active,
.project-card:visited {
  text-decoration: none;
  color: inherit;}


.bio-container {
 
}

.bio-container img{
  inline-size: 100%;
  border-radius: 12px;
}

.bio-header h1{
    color: rgb(0, 0, 0, 0.7);
   font-size: 50x;
   letter-spacing: 2px; 
}

.bio-container p {
color: rgb(0, 0, 0);
   font-size: 20px;
}



.contact {
   
}

.contact h1 {
    font-size: 50px;
    letter-spacing: 2px; 
}

.contact h2 {
    font-size: 20px;
}

.contact a{
    color: #0f350b;
}

.icons {
    font-size: 40px;
}

.icons a{
    color:  rgb(16, 43, 11);
}

footer {
    font-size: 20px;
    text-align: center;
    margin-block-start: 100px;
    word-spacing: 8px;
}

footer a {
    padding: 20px;
      color:  rgb(0, 0, 0, 0.5);
      letter-spacing: 5px;
}

footer a:hover {
    text-decoration: underline;
     color: rgb(15, 53, 11);
}

@media (max-width: 900px) {
    .headshot2{
        max-inline-size: 250px;
        max-block-size: 250px;
    }
}

@media (max-width: 900px) {
    .logo {
        display: none;
    }
}

@media (max-width: 900px) {
    main h1, h2, h4 {
        font-size: 60px;
        margin: 30px auto;
    }
}

@media (max-width: 900px) {
    .nav-links {
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .bio-header h3{
        margin: 0 auto;        
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    .bio-container p {
        font-size: 20px;
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    .My-Projects h3 {
        margin: 0 auto;
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    .contact h1 {
        font-size: 40px;
    }
}

@media (max-width: 900px) {
    .contact h2 {
        font-size: 18px;
    }
}