body {
    font-family: "Quicksand", sans-serif;
    background: url(images/background.png) no-repeat center center / cover fixed;
    font-family: "Audiowide", sans-serif;
}

.nav-links {
    text-align: end;
     word-spacing: 20px;
     margin-top: 5px;
}

.nav-links a {
    color: rgb(0, 0, 0, 0.5);
    font-size: 20px;
}

.nav-links a:hover {
    color: #096526;
    text-decoration: underline;
}

main {
    color: rgb(0, 0, 0, 0.7);
    text-align: start;
}

main h1 {
    margin-block-start: 300px;
    font-size: 110px;
    text-align: center;
    letter-spacing: 20px;
}

main h2 {
    font-size: 40px;
    text-align: center;
     word-spacing: 10px;
}

main h3 {
    font-size: 25px;
    text-align: center;
     word-spacing: 10px;
}

footer {
    color:  rgb(0, 0, 0, 0.5);
    font-size: 15px;
    text-align: center;
    margin-block-start: 325px;
     word-spacing: 8px;
}

footer a {
    color:rgb(40, 39, 39, 0.7);
}

footer a:hover {
    text-decoration: underline;
    color: #096526;
}

.headshot{
   
    opacity: .85;
    margin: 30px auto;
 
}

.logo {
    opacity: .85;
    margin: -150px auto;
}


.Portfolio {

}

.hover figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover figure:hover img{
    -webkit-trasnform: scale(1.3);
    transform: scale(1.3);
}

.Portfolio h1 {
    font-size: 30px;
}

.Portfolio h2 {
    font-size: 20px;
}
.Portfolio p {
    font-size: 15px;
}

.bio-container {
    color: #78170D;
    text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
    margin: 10px auto;
    max-inline-size: 80%;
    text-align: center;
    padding: 20px;
    border-radius:60px;
    box-shadow:
          inset 0 -3em 3em rgba(6, 38, 6, 0.3),
          0 0 0 1px rgba(241, 157, 157, 0.5),
          0.3em 0.3em 1em rgb(200 0 0 / 50%);
}

.bio-header h3{
    font-size: 60px;
    color: #78170D;
    text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
    margin: 80px 220px 40px;
    max-inline-size: 60%;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow:
          inset 0 -3em 3em rgba(6, 38, 6, 0.3),
          0 0 0 1px rgba(241, 157, 157, 0.5),
          0.3em 0.3em 1em rgb(200 0 0 / 50%);
}

.bio-container p {
    font-size: 18px;
    font-weight: 600;
    color: #0f350b;
    text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
    margin: 5px auto;
    max-inline-size: 80%;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow:
          inset 0 -3em 3em rgba(6, 38, 6, 0.3),
          0 0 0 1px rgba(241, 157, 157, 0.5),
          0.3em 0.3em 1em rgb(200 0 0 / 50%);
}



.contact {
    color: #0f350b;
    text-shadow: 1px 1px 2px rgb(221, 115, 115), 0 0 1em rgb(240, 15, 22), 0 0 0.2em rgb(44, 250, 58);
    margin: 90px auto;
    max-inline-size: 80%;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow:
          inset 0 -3em 3em rgba(6, 38, 6, 0.3),
          0 0 0 1px rgba(241, 157, 157, 0.5),
          0.3em 0.3em 1em rgb(200 0 0 / 50%);
}

.contact h1 {
    font-size: 60px;
}

.contact h2 {
    font-size: 40px;
}

.contact a{
    color: #0f350b;
}

.icons {
    font-size: 40px;
}

.icons a{
    color:  rgb(16, 43, 11);
}

@media (max-width: 900px) {
    .headshot2{
        max-inline-size: 250px;
        max-block-size: 250px;
    }
}

@media (max-width: 900px) {
    .logo {
        display: none;
    }
}

@media (max-width: 900px) {
    main h1, h2, h4 {
        font-size: 60px;
        margin: 30px auto;
    }
}

@media (max-width: 900px) {
    .nav-links {
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .bio-header h3{
        margin: 0 auto;        
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    .bio-container p {
        font-size: 20px;
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    .My-Projects h3 {
        margin: 0 auto;
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    .contact h1 {
        font-size: 40px;
    }
}

@media (max-width: 900px) {
    .contact h2 {
        font-size: 18px;
    }
}